<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../image.css">
</head>
<body>
    <img src="../images/sokak.jpg" alt="sokak">
    <img src="https://www.w3schools.com/html/workplace.jpg" alt="leptop+cafe" width="400px">
    <img src="pianist.webp" alt="pianist" width="400px">
</body>
</html> 